.login {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: rgb(15, 140, 235);
  margin-bottom: 10px;
}
.loginDesc {
  font-size: 24px;
}
.loginBox {
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}
.loginInput:focus {
  outline: none;
}
.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(15, 140, 235);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.loginForgot {
  text-align: center;
  color: rgb(15, 140, 235);
}
.loginRegButton {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(125, 198, 15);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  align-self: center;
 
}
